<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.stephen.capstone">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Study Buddy"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FirstGradeActivity">
        </activity>
        <activity android:name=".SecondGradeActivity">
        </activity>
        <activity android:name=".ThirdGradeActivity">
        </activity>
        <activity android:name=".FourthGradeActivity">
        </activity>
        <activity android:name=".FifthGradeActivity">
        </activity>
        <activity android:name=".FifthGradeQuiz">
        </activity>
        <activity android:name=".ScoreActivity">
        </activity>
    </application>

</manifest>
